<div class="well">
  <div class="row">
    <div class="col-8">
      <h4><%= product.name %></h4>
    </div>
    <div class="col-4">
        <h4 class="text-right">Unit Price: <span style="color: green"><%= number_to_currency order_item.unit_price %></span></h4>
        <div class="row">
          <div class="col-4">
            <%= number_field_tag :quantity, value: order_item.quantity.to_i, class: 'form-control', min: 1 %>
          </div>
        </div>
        <h4 class="text-right">Total Price: <span style="color: green"><%= number_to_currency order_item.total_price %></span></h4>
    </div>
  </div>
</div>
